html {
  scroll-behavior: smooth;
}

.active-link {
  color: gray;
  text-decoration: underline;
  font-weight: bold;
}


#background {
    position: absolute;
    left: 60px;
    top: 60px;
    padding: 0px;
    width: 500px;
    height: 600px;
    background-color: rgb(206, 156, 112);
    z-index: -2;  /* this puts it behind the headshot */
}

#linkedin {
    position: absolute;
    left: 170px;
    top: 230px;
    padding: 0px;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    object-fit: cover;
}

#linkedin:hover{
    opacity: 0.75;
    width: 80px;
    height: 80px;
}
#instagram {
    position: absolute;
    left: 170px;
    top: 350px;
    padding: 0px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    object-fit: cover;
}

#instagram:hover{
    opacity: 0.75;
    width: 80px;
    height: 80px;
    
}

#facebook {
    position: absolute;
    left: 170px;
    top: 470px;
    padding: 0px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    object-fit: cover;
}

#facebook:hover{
    opacity: 0.75;
    width: 80px;
    height: 80px;
    
}

.box1 {
    position: absolute;
    left: 350px;
    top: 180px;
    padding: 0px;
    width: 300px;
    height: 400px;
    background-color: rgb(239, 186, 139);
    z-index: -1;  /* this puts it behind the headshot */
}

#headshot {
    position: absolute;
    padding: 0px;   
    width: 200px;
    height: 200px;
    border-radius: 50%;   /* this makes it a circle */
    object-fit: cover;
    margin-top: 20px;
    margin-left: 55px;
}

#pushdown1 {
    margin-top: 250px;
    text-align: center;
}

#pushdown2 {
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
}  

#color1{
    margin-left: 90px;
    width: 120px;
    height: 3px;
    background-color: green;
}

.paragraph {
    position: absolute;
    left: 700px;
    top: 280px;
    width: 400px;
}

#welcome {
    text-align: center;
    font-size: 65px;
    font-family: 'Quicksand', sans-serif;
    margin-top: -50px;
}

#build {
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -50px;
}

#resume {
    background-color: green;
    color: white;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;   /* horizontal centering */
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    border: 3px solid white;
    outline: 3px solid green;
    margin-left: 85px;
}

#resume:hover {
  background-color: blue;
  outline: blue;
}

#contact {
    position: absolute;
    left: 215px;
    top: 75px;
    background-color: white;
    color: black;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;   /* horizontal centering */
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    border: 3px solid white;
    outline: 3px solid black;
}

#contact:hover {
  color: white;
  outline: 3px solid blue;
  background: blue;
}

#description {
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

/*#back3 {
  // position: absolute;
    bottom: -20px;
    right: 0px;
    width: 1460px;
    height: 720px;
    z-index: -3;  /* this puts it behind the headshot 
    background-image: url("bg4.png");
    
}*/

#navbar {
    position: absolute; /*absolute can scroll, fixed cant*/
    left: 400px;
    right: 80px;
    top: 10px;
    margin: 0;
    padding: 0;
    height: 100px;
    text-align: right;
    font-size: 20px;
    z-index: 1;
}

#resume1:hover{
    color: blue;
    text-decoration: underline;
}

#about:hover {
    color: blue;
    text-decoration: underline;
}

#projects:hover {
    color: blue;
    text-decoration: underline;
}

#contact1:hover {
    color: blue;
    text-decoration: underline;
}

#topleft {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 80px;
}

#footer {
    position: absolute;
    bottom: -45px;
    left: 60px;
    height: 50px;
    font-size: 15px;
}
