#header {
    text-align: center;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    border: 4px solid brown;
    width: 100%;
    height: 80px;
    margin-left: -5px;
    margin-top: 0px;
    background-color: white;
}

.contain{
    display: flex;
    margin-top: -20px;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 4px solid brown;
    margin-left: 0px;
    width: 50%;
    height: 400px;
    background-image: url("NN.png");
    background-size: cover;
}

#overlay:hover {
    opacity: 0.7;
    color: blue;
}

#other-content {
    flex: 1;                /* takes remaining space on the right */
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 4px solid brown;
    height: 400px;
    margin-left: 0px;
    width: 50%;
    background-image: url("UFA_dashboard_pic.png");
    background-size: cover;
}

#other-content:hover {
    opacity: 0.7;
    color: blue;
}

html {
    background-color: rgb(242, 212, 173);
    margin: 0;
    padding: 0;
}
